@import url("https://fonts.googleapis.com/css?family=Francois+One");
.about-page {
  margin: 0 10%;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 60px;
  grid-template-rows: repeat(4);
  grid-gap: 10px; }
  .about-page .item1 {
    grid-row: 1;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 2, 1fr;
    border-top: 1px solid gray;
    margin-top: 70px;
    margin-bottom: -43px; }
    .about-page .item1 .title {
      grid-row: 1;
      grid-column: 2;
      text-align: left;
      font-family: "Francois One";
      font-size: 25px;
      letter-spacing: 1px;
      color: gray;
      margin-top: -10px; }
    .about-page .item1 .image {
      grid-row: 2;
      grid-column: 1;
      margin-top: 0px; }
    .about-page .item1 .text {
      grid-row: 2;
      grid-column: 3;
      margin-left: -50px;
      width: 500px; }
    .about-page .item1 .aboutpic {
      width: 450px;
      height: auto; }
  .about-page .item2 {
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 2, 1fr;
    margin-top: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; }
    .about-page .item2 .title {
      grid-row: 1;
      grid-column: 2;
      text-align: LEFT;
      font-family: "Francois One";
      font-size: 25px;
      letter-spacing: 1px;
      color: gray;
      margin-bottom: -10px;
      margin-left: 40px; }
    .about-page .item2 .image {
      grid-row: 2;
      grid-column: 3;
      margin-bottom: 5px; }
    .about-page .item2 .corepic {
      width: 450px;
      height: auto; }
    .about-page .item2 .text {
      grid-row: 2;
      grid-column: 1;
      line-height: 22px; }
  .about-page .item3 {
    grid-row: 3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 2, 1fr;
    margin-top: 0px;
    border-bottom: 1px solid gray; }
    .about-page .item3 .title {
      grid-row: 1;
      grid-column: 2;
      text-align: left;
      font-family: "Francois One";
      font-size: 25px;
      letter-spacing: 1px;
      margin-left: 40px;
      color: gray;
      margin-bottom: -15px; }
    .about-page .item3 .image {
      grid-row: 2;
      grid-column: 1;
      margin-bottom: 7px; }
    .about-page .item3 .industrypic {
      width: 450px;
      height: auto; }
    .about-page .item3 .text {
      grid-row: 2;
      grid-column: 3;
      margin-bottom: 10px;
      width: 600px;
      margin-top: -10px; }
  .about-page .item4 {
    grid-row: 4;
    grid-row: 3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 2, 1fr;
    border-bottom: 1px solid gray; }
    .about-page .item4 .title1 {
      grid-row: 1;
      grid-column: 1;
      text-align: center;
      font-family: "Francois One";
      color: gray;
      margin-bottom: -5px;
      font-size: 25px;
      letter-spacing: 1px; }
    .about-page .item4 .title2 {
      grid-row: 1;
      grid-column: 3;
      text-align: left;
      margin-left: 40px;
      font-family: "Francois One";
      color: gray;
      font-size: 25px;
      letter-spacing: 1px; }
    .about-page .item4 .chart {
      grid-row: 2;
      grid-column: 1; }
    .about-page .item4 .chartpic {
      width: 450px;
      height: auto;
      margin-top: -15px; }
    .about-page .item4 .text {
      grid-row: 2;
      grid-column: 3;
      margin-top: -25px;
      width: 500px; }
  @media screen and (min-width: 750px) and (max-width: 800px) {
    .about-page .item1 {
      border: none; }
      .about-page .item1 .aboutpic {
        width: 550px; }
      .about-page .item1 .text {
        margin-left: 70px;
        width: 350px;
        height: 400px; }
    .about-page .item2 {
      border: none;
      margin-top: 80px; }
      .about-page .item2 .corepic {
        width: 550px;
        height: auto; }
      .about-page .item2 .image {
        margin-left: 140px;
        margin-top: 0px; }
      .about-page .item2 .text {
        width: 300px;
        margin-top: 20px; }
    .about-page .item3 {
      border: none;
      margin-top: 30px; }
      .about-page .item3 .text {
        width: 450px; }
      .about-page .item3 .industrypic {
        width: 550px; }
    .about-page .item4 {
      border: none;
      margin-top: 30px; }
      .about-page .item4 .title2 {
        margin-left: 150px; }
      .about-page .item4 .text {
        margin-left: 100px; } }
