.index-page {
    padding-top: 120px;
    height: 100vh;
    main {
        height: inherit;
        background: url("https://image.ibb.co/jmxfmJ/free_snacks_flat5.jpg") center bottom;
        background-size: cover;
        height: 100%;
    }
}