.index-page {
    padding-top: 120px;
    height: 100vh;
    main {
        height: inherit;
        background: url("https://preview.ibb.co/dwV4kJ/rawpixel_678089_unsplash.jpg") center bottom;
        background-size: cover;
        height: 100%;
    }
}