@import url("https://fonts.googleapis.com/css?family=Francois+One");
.updates-page {
  padding-top: 120px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 7fr; }
  .updates-page .title1 {
    text-align: center;
    font-family: "Francois One";
    color: gray;
    margin-top: 50px;
    font-size: 35px; }
  .updates-page .updates-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column; }

@font-face {
  .updates-page {
    font-family: 'Roboto Slab'; } }
  @media screen and (min-width: 750px) and (max-width: 800px) {
    .updates-page .updates-container {
      margin-top: -300px;
      margin-left: 200px;
      width: 800px;
      height: 600px; }
    .updates-page .title1 {
      margin-top: -300px;
      margin-left: 200px; } }
