.updates-page {
    padding-top: 120px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr;
    .title1 {
        text-align: center;
        font-family: "Francois One";
        color: gray;
        margin-top: 50px;
        font-size: 35px;
        }
    .updates-container {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        
    }
    @font-face {
        font-family: 'Roboto Slab';
        @import url('https://fonts.googleapis.com/css?family=Francois+One');
    }
}