nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  background-color: #1208a8;
  height: 120px; }
  nav .logo-container {
    height: 60px; }
  nav .menu {
    background-color: #2672f9;
    height: 60px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 12, 1fr;
    grid-template-areas: "home about contact updates blank blank social social social social"; }
    nav .menu div {
      display: flex;
      align-items: center; }
    nav .menu .home {
      grid-area: home;
      margin-left: 20px;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .home:hover {
      color: #1208a8;
      font-weight: normal; }
    nav .menu .about {
      grid-area: about;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .about:hover {
      color: #1208a8;
      font-weight: normal; }
    nav .menu .contact {
      grid-area: contact;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .contact:hover {
      color: #1208a8;
      font-weight: normal; }
    nav .menu .updates {
      grid-area: updates;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .updates:hover {
      color: #1208a8;
      font-weight: normal; }
