nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #2672f9;
  height: 120px; }
  nav .logo-container {
    height: 80px;
    text-align: left; }
  nav .navlogo {
    height: 120px;
    width: auto; }
  nav .wave {
    height: 70px;
    width: auto; }
  nav .wavebox {
    text-align: right;
    margin-top: -80px;
    margin-right: 15px; }
  nav .menu {
    background-color: rgba(18, 8, 168, 0.5);
    height: 50px;
    margin-top: 40px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 12, 1fr;
    grid-template-areas: "home about contact updates blank blank social social social social"; }
    nav .menu div {
      display: flex;
      align-items: center; }
    nav .menu .home {
      grid-area: home;
      color: white;
      margin-left: 15px; }
    nav .menu .home:hover {
      color: #2672f9; }
    nav .menu .navlogo {
      width: 90px;
      height: auto; }
    nav .menu .about {
      grid-area: about;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .about:hover {
      color: #2672f9;
      font-weight: normal; }
    nav .menu .contact {
      grid-area: contact;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .contact:hover {
      color: #2672f9;
      font-weight: normal; }
    nav .menu .updates {
      grid-area: updates;
      color: white;
      letter-spacing: .5px;
      font-weight: lighter; }
    nav .menu .updates:hover {
      color: #2672f9;
      font-weight: normal; }
  @media screen and (max-width: 450px) {
    nav .wave {
      height: 40px;
      width: auto; }
    nav .wavebox {
      text-align: right;
      margin-top: -50px;
      margin-right: 10px; } }
  @media screen and (max-width: 350px) {
    nav .wavebox {
      margin-right: 20px; } }
