nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    background-color: white;
    height: 120px;
   
    
    .logo-container {
        height: 60px;
        
    }
    .menu {
        background-color: white;
        height: 60px;
        
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        display: grid;
        
        grid-template-columns: (12, 1fr);
        grid-template-areas:
        "home about contact updates blank blank social social social social";
        div {
            display: flex;
            align-items: center;
            
        }
        .home {
            grid-area: home;
        }
        .about {
            grid-area: about;
        }
        .contact {
            grid-area: contact;
        }
        .updates {
            grid-area: updates;
        }
        
    }

}