nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    
    background-color: #2672f9;
    height: 120px;
   
    
    .logo-container {
        height: 80px;
        text-align: left;
    }
    .navlogo {
        height: 120px;
        width: auto;
        
    }
    .wave {
        height: 70px;
        width: auto;
    }
    .wavebox {
        text-align: right;
        margin-top: -80px;
        margin-right: 15px;
    }
    .menu {
        background-color: rgba(18, 8, 168, 0.5);
        height: 50px;
        margin-top: 40px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        display: grid;
        grid-template-columns: (12, 1fr);
        grid-template-areas:
        "home about contact updates blank blank social social social social";
        div {
            display: flex;
            align-items: center;
            
        }
        .home {
            grid-area: home;
            color: white;
            margin-left: 15px;
        }
        .home:hover {
            color: #2672f9;
        }
        .navlogo {
            width: 90px;
            height: auto;
        }
        .about {
            grid-area: about;
            color: white;
            letter-spacing: .5px;
            font-weight: lighter;
        }
        .about:hover {
            color: #2672f9;
            font-weight: normal;
        }
        .contact {
            grid-area: contact;
            color: white;
            letter-spacing: .5px;
            font-weight: lighter;
        }
        .contact:hover {
            color: #2672f9;
            font-weight: normal;
        }
        .updates {
            grid-area: updates;
            color: white;
            letter-spacing: .5px;
            font-weight: lighter;

        }
        .updates:hover{
            color:#2672f9;
            font-weight: normal;
        }
        
    }

}